body {
    background-color: #312e2b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}

#container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#board, #sidebar {
    border-radius: 3px;
}

/* Board style */

#board {
    position: relative;
    float: left;
    overflow: auto;
}

.square {
    position: absolute;
}

.white {
    background-color: #F0D9B5;
}

.black {
    background-color: #B58863;
}

.power, .other {
    position: absolute;
    height: 75px;
    z-index: 1;
}

.piece {
    position: absolute;
    height: 75px;
    z-index: 2;
}

.piece:hover {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.piece:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* Sidebar style */

#sidebar {
    background-color: rgb(241, 241, 241);
    position: relative;
    overflow: auto;
}

#opponent, #player, #log {
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
}

.name {
    font-size: 30px;
    background-color: rgb(226, 226, 226);
    color: rgb(95, 95, 95);
    padding: 8px;
}

.clock {
    font-size: 50px;
    padding: 8px;
    color: rgb(95, 95, 95);
}

#controls {
    position: relative;
    left: 0;
    right: 0;
    height: 40px;
    border-bottom: 1px solid rgb(188, 188, 188);
}

button {
    height: 100%;
    width: 50%;
    border: none;
    background-color: rgb(226, 226, 226);
    color: rgb(95, 95, 95);
    font-size: 20px;
}

button:hover {
    background-color: rgb(188, 188, 188);
    cursor: pointer;
}

#draw {
    float: left;
    border-right: 1px solid rgb(188, 188, 188);
}

/* log & selection style */

#log, #selection {
    border-top: 1px solid rgb(188, 188, 188);
    border-bottom: 1px solid rgb(188, 188, 188);
    height: calc(100% - 293px);
}

#log {
    overflow: auto;
}

table {
    width: 100%;
}

td {
    color: rgb(56, 56, 56);
    font-size: 20px;
}

#selection {
    overflow: hidden;
    position: relative;
}

.option {
    width: 165px;
    margin-left: 30px;
    margin-right: 30px;
}

.option:hover {
    background-color: rgb(188, 188, 188)
}

#option1 {
    margin-top: 20px;
}

#option2 {
    position: absolute;
    bottom: 20px;
}

/* header style */

.header {
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

#drawOffered {
    background-color: rgb(226, 226, 226);
    color: rgb(95, 95, 95);
}

#error {
    background-color: red;
    color: white;
}